@import "tailwindcss";

@theme {

  --color-brand-blue: #5A9CB5;
  --color-brand-yellow: #FACE68;
  --color-brand-orange: #FAAC68;
  --color-brand-red: #FA6868;
  
  --font-sans: "Inter", ui-sans-serif, system-ui;
}